BankAccountManagementSystem/BankAccountManagementSystem/BankAccountManagementSystem.Api/obj
BankAccountManagementSystem/BankAccountManagementSystem/BankAccountManagementSystem.Application/obj
BankAccountManagementSystem/BankAccountManagementSystem/BankAccountManagementSystem.Domain/obj
BankAccountManagementSystem/BankAccountManagementSystem/BankAccountManagementSystem.Infrastructure/obj
BankAccountManagementSystem/BankAccountManagementSystem/BankAccountManagementSystem.Application.Tests/obj
BankAccountManagementSystem/BankAccountManagementSystem/.vs
BankAccountManagementSystem/BankAccountManagementSystem/BankAccountManagementSystem.Api/bin
BankAccountManagementSystem/BankAccountManagementSystem/BankAccountManagementSystem.Domain/bin
BankAccountManagementSystem/BankAccountManagementSystem/BankAccountManagementSystem.Infrastructure/bin
BankAccountManagementSystem/BankAccountManagementSystem/BankAccountManagementSystem.Application/bin
